/* .gameView {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
} */

.instructions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-left: 20px;
  margin: 10px 0;
  counter-reset: section;
  list-style: none;
}
.instructions li {
  background: #d8e4eb;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  counter-increment: section;
  position: relative;
  padding-left: 30px;
}
.instructions li::before {
  content: counter(section) ". ";
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
  color: #333;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body * {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body button {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

body button:hover {
  background-color: #cccccc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.container .unityWrapper {
  background: #cecece;
  width: 800px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .unityWrapper .loadingBar {
  background: #8c8c8c;
  width: 400px;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.container .unityWrapper .loadingBar .loadingBarFill {
  height: 6px;
  border-radius: 5px;
  margin: 2px;
  background: #ffffff;
  transition: 0.3s width ease-out;
}

.container .unityWrapper canvas {
  width: 100%;
  height: 100%;
}

.container .screenshots {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
